.header {
  font-size: 8.5vh;
  text-align: center;
  padding-bottom: 3%;
}

.landing-page {
  justify-content: center;
  margin-left: 15%;
  margin-right: 10%;
}

.carouselOne {
display: flex;
flex-direction: row;
padding-bottom: 2%;
width: 61%;
}

.carousel {
  padding-left: 5%;
}

.MLK {
  height: 450px;
  width: auto;
  opacity: .5;
}

.Queen {
  height: 450px;
  width: 400px;
  opacity: .5;
}

.MLK-analysis {
  width: 400px;
  height: auto;
  padding-left: 10%;
}

.landingpage0 {
display: flex;
flex-direction: row;
margin-left: 20%;
margin-right: 20%;
} */

.page-slogan {
  padding-top: 15%;
  padding-right: 10%;
}
.page-drawing {
  padding-top: 5%;
}


/* Homepage */

#homepage {
  margin: 20px;
}

/* History List */
.history-list-container {
  width: 90vw;
  padding: 25px;
  height: 100vh;
  overflow: auto;
}

.speech-history-title {
  margin: 10px;
}

.speech-version-list {
  list-style: none;
}

.speech-preview-chart {
  display: flex;
  align-items: start;
}

.doughnut-small canvas {
  height: 80px;
  width: auto;
}