.header {
  font-size: 125px;
 margin-left: 25%;
}

/*Landing*/
.headerText {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
  background-color: #E4EFF0;
}

.headerTextLarger {
  text-align: right;
  font-size: xx-large;
  padding-right: 28%;
  top: 50%;
}

.headerTextSmall {
  text-align: right;
  font-size: medium;
  padding-right: 22%;
}

.landingButton {
  margin-left: 60%;
  background-color: #66BDD0;
}

.header-login {
  font-size: small;
padding-right: 25%;
color: #66BDD0;
}

/* Homepage */

#homepage {
  margin: 20px;
}

/* History List */
.history-list-container {
  width: 50vw;
  padding: 25px;
  max-height: 70vh;
  overflow: scroll;
}

.speech-history-title {
  margin: 10px;
}

.speech-version-list {
  list-style: none;
}

.speech-preview-chart {
  display: flex;
  align-items: start;
}

.doughnut-small canvas {
  height: 80px;
  width: auto;
}